/.gradle/6.7.1/executionHistory
/.gradle/6.7.1/executionHistory/executionHistory.bin
/.gradle/6.7.1/executionHistory/executionHistory.lock
/.gradle/6.7.1/fileHashes
/.gradle/6.7.1/fileHashes/fileHashes.bin
/.gradle/6.7.1/fileHashes/fileHashes.lock
/.gradle/6.7.1/fileHashes/resourceHashesCache.bin
/.gradle/6.7.1/javaCompile
/.gradle/6.7.1/javaCompile/classAnalysis.bin
/.gradle/6.7.1/javaCompile/jarAnalysis.bin
/.gradle/6.7.1/javaCompile/javaCompile.lock
/.gradle/6.7.1/javaCompile/taskHistory.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums
/.gradle/checksums/checksums.lock
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.idea/assetWizardSettings.xml
/.idea/libraries/Gradle__androidx_core_core_1_7_0_beta02_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_7_0_rc01_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_7_0_beta02_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_7_0_rc01_aar.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_30.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_30.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml
